body {
    background-color: grey;
}

:root {
    --green: linear-gradient(110.6deg, #2A4032 0.81%, #3A5E46 100%);
    --yellow: rgba(253, 222, 103, 1);
    --dark-green: rgba(27, 45, 34, 1);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --purple: rgba(197, 194, 202, 1);
    --light-green: rgba(59, 95, 71, 1);
    --black-2: rgba(24, 24, 24, 1);
    --light-grey: rgba(255, 255, 255, 0.3);
    --white-2: rgba(255, 255, 255, 0.8);
    --grey: rgba(255, 255, 255, 0.2);
    --black-3: rgba(0, 0, 0, 0.25);
    --purple: rgba(197, 194, 202, 1);
    --grey-2: rgba(0, 0, 0, 0.6);
    --medium-green: rgba(24, 24, 24, 0.25);
    --okr: rgba(255, 235, 157, 1);
    --black-4: rgba(30, 30, 30, 1);
}

* {
    box-sizing: border-box;
}

@media(min-width:340px) {
    .container {
        width: 360px;
        height: 2098px;
        margin: auto;
    }

    .head-1 {
        width: 360px;
        height: 640px;
        background-image: var(--green);
    }

    .menu {
        display: none;
    }

    .menu-list {
        display: none;

    }

    .head-text-1 {
        font-family: Lato;
        font-size: 30px;
        font-style: italic;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--light-grey);
        margin-top: 27px;
        margin-left: 15px;
        margin-bottom: 12px;
    }

    .head-title {
        font-family: Lato;
        font-size: 60px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--white);
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 12px;
    }

    .head-text-2 {
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--white-2);
        margin-left: 15px;
        margin-right: 111px;
        margin-bottom: 12px;
    }

    .head-btn {
        width: 180px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        gap: 10px;
        background-color: var(--yellow);
        color: var(--black-2);
        margin-right: 165px;
        margin-left: 15px;
        position: absolute;
        z-index: 666;
    }

    .head-btn:hover {
        width: 180px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        background-color: var(--okr);
    }

    .circle-1 {
        width: 192.63px;
        height: 192.63px;
        border-radius: 50%;
        background-color: var(--dark-green);
        margin-left: 140px;
        margin-right: 27px;
        margin-top: 16px;
        position: ;
        z-index: ;
        transform: translate(10px, 65px);
    }

    .circle-2 {
        width: 198.55px;
        height: 198.55px;
        border-radius: 50%;
        background-color: var(--dark-green);
        margin-left: 27px;
        margin-top: -50px;
        position: ;
        z-index: 0;
    }

    .frame {}

    .photo-1 {
        width: px;
        height: px;
        transform: translate(80px, 25px);
        position: absolute;
        z-index: 555;
    }

    .dot-1 {
        width: 18px;
        height: 18px;
        border-radius: 21px;
        background-color: var(--white);
        display: inline-block;
        z-index: 999;
        margin-right: 16px;
    }

    .dot-2 {
        width: 14px;
        height: 14px;
        border-radius: 21px;
        background-color: var(--grey);
        display: inline-block;
        z-index: 999;
        position: ;
        margin-right: 16px;
    }

    .dot-3 {
        width: 14px;
        height: 14px;
        border-radius: 21px;
        background-color: var(--grey);
        list-style: ;
        display: inline-block;
        z-index: 999;
    }

    .lighter {
        display: flex;
        align-items: center;
        margin-left: 145px;
        margin-top: -10px;
    }

    .nav-bar {
        width: 360px;
        height: 48px;
        background-color: var(--yellow);
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-right: 16px;
        padding-top: 12px;
        margin-top: -75px;
        position: fixed;
        z-index: 999;
    }

    .nav-list {}

    .nav-list:first-of-type {
        margin-left: 15px;
    }

    .nav-list:last-of-type {
        margin-right: 15px;
    }

    .mark-bar {
        background-color: var(--black);
        display: flex;
        justify-content: space-between;
        margin-top: -27px;
    }

    .mark-list {
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .mark-list:first-of-type {
        margin-left: 15px;
    }

    .mark-list:last-of-type {
        margin-right: 15px;
    }

    .hero-1 {
        width: 100%;
        height: px;
        background-color: var(--white);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .hero-1-title {
        font-family: Lato;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 114px;
        margin-bottom: 32px;
        color: var(--black)
    }

    .hero-1-card {}

    .card-1 {
        background-color: var(--purple);
        width: 330px;
        height: 411px;
        border-radius: 24px;
    }

    .card-1-text {
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        padding-top: 18px;
        margin-left: 18px;
        margin-bottom: 36px;
        color: var(--black)
    }

    .card-1-photo {
        width: 197.28px;
        height: 339.03px;
        margin-left: 67px;
        position: absolute;
    }

    .card-1-btn {
        width: 167px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        gap: 10px;
        background-color: var(--black-2);
        color: var(--white);
        margin-left: 145px;
        margin-top: 250px;
        position: absolute;
    }

    .card-1-btn:hover {
        width: 180px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        background-color: var(--black-4);
    }

    .card-2 {
        width: 330px;
        height: 245.61px;
        border-radius: 24px;
        margin-top: 32px;
        background-color: var(--yellow);
    }

    .card-2-text {
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: right;
        padding-top: 20px;
        margin-right: 18px;
    }

    .card-2-off {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: right;
        margin-right: 40px;
        margin-top: 52.47px;
        color: (var--black)
    }

    .card-2-photo {
        width: 189.66px;
        height: 216.74px;
        margin-top: -108px;
        margin-left: 0px;
    }

    .card-2-btn {
        width: 167px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        gap: 10px;
        background-color: var(--black-2);
        color: var(--white);
        margin-right: 18px;
        margin-bottom: 18px;
        transform: translate(140px, -80px);
    }

    .card-2-btn:hover {
        width: 180px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        background-color: var(--black-4);
    }

    .hero-2 {
        background-color: var(--purple);
    }

    .hero-2-title {
        font-family: Lato;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 32px;
        margin-left: 15px;
    }

    .hero-2-title {
        font-family: Lato;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 32px;
        margin-left: 15px;
    }

    .list-items {
        display: flex;
        overflow-x: scroll;
        flex-basis: 25%;
    }

    .items {
        display: inline;
        margin-right: 35px;
    }

    .hero-2-photo {
        width: 227.75px;
        height: 220px;
        border-radius: 24px;
        gap: 10px;
        background-color: var(--white);
        padding-bottom: 30px;
        margin-top: 32px;
        margin-left: 15px;
    }

    .hero-2-photo:hover: {
        background-color: var(--black);
    }

    .shop:hover {}


    .item-photo {
        width: 132.99px;
        height: 148.36px;
        align-items: center;
        margin-left: 43.5px;
    }

    .heart {
        width: 24px;
        height: 21px;
        padding: 1.92px, 0px, 0.99px, 0px;
        margin-left: 188px;
        margin-top: 16px;
    }

    .black-hear:hover {}

    .hero-2-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        letter-spacing: 0em;
        text-align: left;
        text-wrap: nowrap;
        color: var(--black);
    }

    .hero-2-price {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--grey-2);
        margin-bottom: 32px;
    }

    .troly {
        width: 16px;
        height: 16px;
    }

    .buy {
        width: 30px;
        height: 30px;
        border-radius: 6px;
        gap: 10px;
        padding-top: 5px;
        align-items: center;
        margin-top: 18.5px;
        margin-left: 54.75px;
        text-align: center;
        background-color: var(--yellow);
    }

    .buy:hover {}

    .subscribe {
        display: flex;
    }

    .hero-2-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 15px;
        margin-top: 16px;
        display: ;
    }

    .hero-2-price {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 15px;
    }

    footer {
        width: 100%;
        height: auto;
        background-color: var(--light-green);
    }

    .f-title {
        font-family: Lato;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        padding-top: 32px;
        margin-bottom: 32px;
        color: var(--white);
    }

    .time-list {
        display: flex;
        margin-left: 54px;
        margin-right: 54px;
        padding-bottom: 32px;
    }

    .time-item {
        width: 54px;
        height: 82px;
        border-radius: 8px;
        gap: 12px;
        display: block;
        margin-right: 12px;
    }

    .number {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        background-color: red;
        color: var(--white);
        width: 54px;
        height: 56px;
        padding: 12px;
        border-radius: 8px;
        margin-bottom: 12px;
        text-align: center;
    }

    .time {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--white)
    }

}

@media(min-width:1200px) {
    .container {
        width: 1540px;
        height: 2888px;
        margin: auto;
    }

    .head-1 {
        width: 100%;
        height: 748px;
        background-image: var(--green);
    }


    .menu-title {
        font-family: Lato;
        font-size: 36px;
        font-weight: 900;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 25px;
        margin-left: 110px;
        margin-right: 442px;

    }

    .menu-list {
        display: flex;

    }

    .menu-item {
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
        margin-right: 32px;
        margin-top: 25px;

    }

    .menu-item:last-of-type {
        margin-left: 442px;
        margin-right: 110px;
        margin-top: 25px;
    }

    .menu-photo {
        width: 15.61px;
        height: 12.67px;
        object-fit: cover;

    }

    .menu-nav {
        width: 40px;
        height: 40px;
        background-color: var(--yellow);
        border-radius: 20px;
        padding: 12px;
    }



    .head-text-1 {
        font-family: Lato;
        font-size: 60px;
        font-style: italic;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--light-grey);
        margin-top: 85px;
        margin-left: 110px;
        margin-bottom: 24px;
    }

    .head-title {
        font-family: Lato;
        font-size: 112px;
        font-weight: 900;
        line-height: 100px;
        letter-spacing: 0.13em;
        text-align: left;
        color: var(--white);
        margin-left: 110px;
        margin-right: 24px;
        margin-bottom: 24px;
    }

    .head-text-2 {
        font-family: Lato;
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--white-2);
        margin-left: 110px;
        margin-right: px;
        margin-bottom: 65px;
    }

    .head-btn {
        width: 180px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        gap: 10px;
        background-color: var(--yellow);
        color: var(--black-2);
        margin-right: 165px;
        margin-left: 110px;
        position: absolute;
        z-index: 666;
    }

    .head-btn:hover {
        width: 180px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        background-color: var(--okr);
    }

    .circle-1 {
        width: 308px;
        height: 308px;
        border-radius: 50%;
        background-color: red;
        margin-left: 987px;
        margin-right: px;
        margin-top: ;
        margin-bottom: px;
        position: ;
        z-index: ;
        transform: translate(0px, -180px);
    }

    .circle-2 {
        width: 308px;
        height: 308px;
        border-radius: 50%;
        background-color: var(--dark-green);
        margin-left: 806px;
        margin-right: ;
        margin-top: -400px;
        position: absolute;
        z-index: ;
    }

    .frame {}

    .photo-1 {
        width: 342.16px;
        height: 619.63px;
        transform: translate(0px, -313px);
        margin-left: 877px;
        position: absolute;
        z-index: ;
    }



    .dot-1 {
        width: 18px;
        height: 18px;
        border-radius: 21px;
        background-color: var(--white);
        display: inline-block;
        z-index: 999;
        margin-right: 16px;
    }

    .dot-2 {
        width: 14px;
        height: 14px;
        border-radius: 21px;
        background-color: var(--grey);
        display: inline-block;
        z-index: 999;
        position: ;
        margin-right: 16px;
    }

    .dot-3 {
        width: 14px;
        height: 14px;
        border-radius: 21px;
        background-color: var(--grey);
        list-style: ;
        display: inline-block;
        z-index: 999;
    }

    .lighter {
        display: flex;
        align-items: center;
        transform: rotate(-270deg);
        margin-left: 1300px;
        margin-right: px;
        margin-top: -300px;
    }

    .nav-bar {
        display: none;
    }

    .mark-bar {
        background-color: var(--black);
        display: flex;
        justify-content: space-between;
        margin-top: -27px;
    }

    .mark-list {
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .mark-list:first-of-type {
        margin-left: 15px;
    }

    .mark-list:last-of-type {
        margin-right: 15px;
    }

    .hero-1 {
        width: 100%;
        height: px;
        background-color: var(--white);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .hero-1-title {
        font-family: Lato;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 114px;
        margin-bottom: 32px;
        color: var(--black)
    }

    .hero-1-card {}

    .card-1 {
        background-color: var(--purple);
        width: 330px;
        height: 411px;
        border-radius: 24px;
    }

    .card-1-text {
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        padding-top: 18px;
        margin-left: 18px;
        margin-bottom: 36px;
        color: var(--black)
    }

    .card-1-photo {
        width: 197.28px;
        height: 339.03px;
        margin-left: 67px;
        position: absolute;
    }

    .card-1-btn {
        width: 167px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        gap: 10px;
        background-color: var(--black-2);
        color: var(--white);
        margin-left: 145px;
        margin-top: 250px;
        position: absolute;
    }

    .card-1-btn:hover {
        width: 180px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        background-color: var(--black-4);
    }

    .card-2 {
        width: 330px;
        height: 245.61px;
        border-radius: 24px;
        margin-top: 32px;
        background-color: var(--yellow);
    }

    .card-2-text {
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: right;
        padding-top: 20px;
        margin-right: 18px;
    }

    .card-2-off {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: right;
        margin-right: 40px;
        margin-top: 52.47px;
        color: (var--black)
    }

    .card-2-photo {
        width: 189.66px;
        height: 216.74px;
        margin-top: -108px;
        margin-left: 0px;
    }

    .card-2-btn {
        width: 167px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        gap: 10px;
        background-color: var(--black-2);
        color: var(--white);
        margin-right: 18px;
        margin-bottom: 18px;
        transform: translate(140px, -80px);
    }

    .card-2-btn:hover {
        width: 180px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        background-color: var(--black-4);
    }

    .hero-2 {
        background-color: var(--purple);
    }

    .hero-2-title {
        font-family: Lato;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 32px;
        margin-left: 15px;
    }

    .list-items {
        display: flex;
        overflow-x: scroll;
        flex-basis: 25%;
    }

    .items {
        display: inline;
        margin-right: 35px;
    }

    .hero-2-photo {
        width: 227.75px;
        height: 220px;
        border-radius: 24px;
        gap: 10px;
        background-color: var(--white);
        padding-bottom: 30px;
        margin-top: 32px;
        margin-left: 15px;
    }

    .hero-2-photo:hover: {
        background-color: var(--black);
    }

    .shop:hover {}


    .item-photo {
        width: 132.99px;
        height: 148.36px;
        align-items: center;
        margin-left: 43.5px;
    }

    .heart {
        width: 24px;
        height: 21px;
        padding: 1.92px, 0px, 0.99px, 0px;
        margin-left: 188px;
        margin-top: 16px;
    }

    .black-hear:hover {}

    .hero-2-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        letter-spacing: 0em;
        text-align: left;
        text-wrap: nowrap;
        color: var(--black);
    }

    .hero-2-price {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--grey-2);
        margin-bottom: 32px;
    }

    .troly {
        width: 16px;
        height: 16px;
    }

    .buy {
        width: 30px;
        height: 30px;
        border-radius: 6px;
        gap: 10px;
        padding-top: 5px;
        align-items: center;
        margin-top: 18.5px;
        margin-left: 54.75px;
        text-align: center;
        background-color: var(--yellow);
    }

    .buy:hover {}

    .subscribe {
        display: flex;
    }

    .hero-2-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 15px;
        margin-top: 16px;
        display: ;
    }

    .hero-2-price {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 15px;
    }

    footer {
        width: 100%;
        height: auto;
        background-color: var(--light-green);
    }

    .f-title {
        font-family: Lato;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        padding-top: 32px;
        margin-bottom: 32px;
        color: var(--white);
    }

    .time-list {
        display: flex;
        margin-left: 54px;
        margin-right: 54px;
        padding-bottom: 32px;
    }

    .time-item {
        width: 54px;
        height: 82px;
        border-radius: 8px;
        gap: 12px;
        display: block;
        margin-right: 12px;
    }

    .number {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        background-color: red;
        color: var(--white);
        width: 54px;
        height: 56px;
        padding: 12px;
        border-radius: 8px;
        margin-bottom: 12px;
        text-align: center;
    }

    .time {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--white)
    }
}