body {
    background-color: grey;
}

:root {
    --green: linear-gradient(110.6deg, #2A4032 0.81%, #3A5E46 100%);
    --yellow: rgba(253, 222, 103, 1);
    --dark-green: rgba(27, 45, 34, 1);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --purple: rgba(197, 194, 202, 1);
    --light-green: rgba(59, 95, 71, 1);
    --black-2: rgba(24, 24, 24, 1);
    --light-grey: rgba(255, 255, 255, 0.3);
    --white-2: rgba(255, 255, 255, 0.8);
    --grey: rgba(255, 255, 255, 0.2);
    --black-3: rgba(0, 0, 0, 0.25);
    --purple: rgba(197, 194, 202, 1);
    --grey-2: rgba(0, 0, 0, 0.6);



}

* {
    box-sizing: border-box;
}

@media(min-width:360px) {
    .container {
        width: 360px;
        height: 2098px;
        margin: auto;
        background-color: aqua;

    }

    .head-1 {
        width: 100%;
        height: 640px;
        background-image: var(--green);


    }

    .head-text-1 {
        font-family: Lato;
        font-size: 30px;
        font-style: italic;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--light-grey);
        margin-top: 27px;
        margin-left: 15px;
        margin-bottom: 12px;



    }

    .head-title {
        font-family: Lato;
        font-size: 60px;
        font-weight: 900;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--white);
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 12px;
    }

    .head-text-2 {
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--white-2);
        margin-left: 15px;
        margin-right: 111px;
        margin-bottom: 12px;
    }

    .head-btn {
        width: 180px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        gap: 10px;
        background-color: var(--yellow);
        color: var(--black-2);
        margin-right: 165px;
        margin-left: 15px;
        position: absolute;
        z-index: 666;

    }

    .circle-1 {
        width: 192.63px;
        height: 192.63px;
        border-radius: 50%;
        background-color: var(--dark-green);
        margin-left: 140px;
        margin-right: 27px;
        margin-top: 16px;
        position: ;
        z-index: ;
        transform: translate(10px, 65px);



    }

    .circle-2 {
        width: 198.55px;
        height: 198.55px;
        border-radius: 50%;
        background-color: var(--dark-green);
        margin-left: 27px;
        margin-top: -50px;
        position: ;
        z-index: 0;




    }

    .frame {
        position: ;
    }

    .photo-1 {
        width: 208.08px;
        height: 391px;
        transform: translate(80px, 25px);
        position: absolute;
        z-index: 555;



    }

    .dot-1 {
        width: 18px;
        height: 18px;
        border-radius: 21px;
        background-color: var(--white);
        display: inline-block;
        z-index: 999;
        margin-right: 16px;
    }

    .dot-2 {
        width: 14px;
        height: 14px;
        border-radius: 21px;
        background-color: var(--grey);
        display: inline-block;
        z-index: 999;
        position: ;
        margin-right: 16px;

    }

    .dot-3 {
        width: 14px;
        height: 14px;
        border-radius: 21px;
        background-color: var(--grey);
        list-style: ;
        display: inline-block;
        z-index: 999;

    }

    .lighter {
        display: flex;
        align-items: center;
        margin-left: 145px;
        margin-top: -10px;


    }

    .nav-bar {
        width: 100%;
        background-color: var(--yellow);
        display: inline-block;
        padding-bottom: 10px;
        padding-top: 2px;
        margin-top: -27px;
        position: ;
        top: ;


    }

    .nav-list {
        display: inline-block;
        margin-left: 22px;
        margin-right: 22px;
        margin-top: 12px;

    }

    .nav-list:first-of-type {
        margin-left: 15px;
    }

    .nav-list:last-of-type {
        margin-right: 15px;
    }

    .mark-bar {
        background-color: var(--black);
        display: flex;
        justify-content: space-between;

    }

    .mark-list {
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .mark-list:first-of-type {
        margin-left: 15px;
    }

    .mark-list:last-of-type {
        margin-right: 15px;
    }

    .hero-1 {
        width: 100%;
        height: px;
        background-color: var(--white);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .hero-1-title {
        font-family: Lato;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 114px;
        margin-bottom: 32px;
        color: var(--black)
    }

    .hero-1-card {}

    .card-1 {
        background-color: var(--purple);
        width: 330px;
        height: 411px;
        border-radius: 24px;
    }

    .card-1-text {
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        padding-top: 18px;
        margin-left: 18px;
        margin-bottom: 36px;
        color: var(--black)
    }

    .card-1-photo {
        width: 197.28px;
        height: 339.03px;
        margin-left: 67px;
        position: absolute;

    }


    .card-1-btn {
        width: 167px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        gap: 10px;
        background-color: var(--black-2);
        color: var(--white);
        margin-left: 145px;
        margin-top: 250px;
        position: absolute;
    }

    .card-2 {
        width: 330px;
        height: 245.61px;
        border-radius: 24px;
        margin-top: 32px;
        background-color: var(--yellow);
    }

    .card-2-text {
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: right;
        padding-top: 20px;
        margin-right: 18px;


    }

    .card-2-off {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: right;
        margin-right: 40px;
        margin-top: 52.47px;
        color: (var--black)
    }

    .card-2-photo {
        width: 189.66px;
        height: 216.74px;
        margin-top: -108px;
        margin-left: 0px;

    }

    .card-2-btn {
        width: 167px;
        height: 49px;
        padding: 16px, 40px, 16px, 40px;
        border-radius: 6px;
        gap: 10px;
        background-color: var(--black-2);
        color: var(--white);
        margin-right: 18px;
        margin-bottom: 18px;
        transform: translate(140px, -80px);
    }

    .hero-2 {
        background-color: var(--purple);
    }

    .hero-2-title {
        font-family: Lato;
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 32px;
        margin-left: 15px;
    }

    .list-items {}

    .items {}

    .hero-2-photo {
        width: 227.75px;
        height: 220px;
        border-radius: 24px;
        gap: 10px;
        background-color: var(--white);
        margin-top: 32px;
        margin-left: 15px;
    }

    .item-photo {
        width: 132.99px;
        height: 148.36px;
        align-items: center;
        margin-left: 43.5px;


    }

    .heart {
        width: 24px;
        height: 24px;
        padding: 1.92px, 0px, 0.99px, 0px;
        margin-left: 188px;
        margin-top: 16px;

    }

    .hero-2-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--black)
    }

    .hero-2-price {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--grey-2)
    }

    .troly {
        width: 16px;
        height: 16px;

    }

    .buy {
        width: 30px;
        height: 30px;
        border-radius: 6px;
        gap: 10px;
        padding: 2px;
        background-color: var(--yellow);


    }
}